.section-header{
  position: relative;
  font-size: 24px;
  margin-bottom: 5px;

  &__text{
    position: relative;
    text-transform: capitalize;
    background-color: $primaryBG;
    padding-right: 8px;
    z-index: 1;

    &_brand{
      color: $brandBlue;
    }
  }

  &:before{
    content: '';
    display: block;
    position: absolute;
    bottom: 4px;
    width: 100%;
    left: 0;
    border-color: $brandDarkGrey;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }

  &_brand{
    &:before{
      border-color: $brandRed;
    }
  }
}


