.news-slider{
  position: relative;
  @include clearfix;
  background-color: #f7f9fa;
  border-bottom: 5px solid $brandRed;
  margin-bottom: 27px;

  &__preview{
    width: 378px;
    height: 251px;
    float: left;
    overflow: hidden;

    img{
      width: 100%;
    }

    @include phone {
      float: none;
      margin: auto;
    }
  }
  
  &__brief{
    width: 240px;
    padding: 10px 22px;
    float: left;

    @include phone {
      float: none;
      margin: auto;
      position: relative;
      left: -30px;
    }
  }

  &__title{
    font-family: 'MinionPro';
    color: #c80000;
    font-size: 32px;
    line-height: 1.14em;
    margin-bottom: 6px;
  }

  &__description{
    font-size: 14px;
    line-height: 1.3em;
  }

  &__controls{
    position: absolute;
    bottom: 11px;
    right: 11px;
    font-size: 17px;
    font-weight: 700;
    text-align: right;
  }
  
    &__control{
      float: left;
      @include cursor-on-hover;
    }
  
    &__current-page{
      float: left;
      padding-top: 2px;
      margin: 0 11px;
    }
}