.newsfeed-featured-item{
  float: left;
  width: 100%;
  margin: 4px 0 5px;

  &__image{
    width: 100px;
    float: left;
  }

  &__brief{
    float: left;
    width: 280px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: -.4px;
    padding: 7px 0 0 10px;
  }
}