.review-post{
  display: inline-block;
  float: none;
  white-space: normal;
  font-size: 14px;
  width: 140px;
  margin-right: 13px;

  &__category{
    color: $brandRed;
    padding-bottom: 9px;
  }

  &__description{
    color: $brandBlue;
    line-height: 1.2em;
  }
}