html {
  font-family: 'PT Sans', sans-serif, Helvetica;
  font-size: 14px;
  font-weight: 400;
}

html, body{
  width: 100%;
}

* {
  box-sizing: border-box;
}

a{
  color: $brandDarkGrey;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

.link{
  text-decoration: none;

  &:hover{
    color: #3d76cc;
    text-decoration: underline;
  }

  &_source{
    color: #bfbfc0;
    font-size: 11px;
  }
}

hr{
  display: block;
  width: 100%;
  height: 5px;
  margin: 5px 0 48px;
  background-color: $brandDarkGrey;
}

.wrapper {
  @include clearfix();
  max-width: 962px;
  min-width: 400px;
  margin: 31px auto 0;
  font-size: 24px;
}

.read-more-link{
  font-size: 18px;
  color: $brandBlue;
}

.clearfix{
  @include clearfix;
}

