/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-icon-arrow-red-left-name: 'sprite-icon-arrow-red_left';
$sprite-icon-arrow-red-left-x: 60px;
$sprite-icon-arrow-red-left-y: 0px;
$sprite-icon-arrow-red-left-offset-x: -60px;
$sprite-icon-arrow-red-left-offset-y: 0px;
$sprite-icon-arrow-red-left-width: 21px;
$sprite-icon-arrow-red-left-height: 40px;
$sprite-icon-arrow-red-left-total-width: 105px;
$sprite-icon-arrow-red-left-total-height: 180px;
$sprite-icon-arrow-red-left-image: 'sprites.png';
$sprite-icon-arrow-red-left: (60px, 0px, -60px, 0px, 21px, 40px, 105px, 180px, 'sprites.png', 'sprite-icon-arrow-red_left', );
$sprite-icon-arrow-red-right-name: 'sprite-icon-arrow-red_right';
$sprite-icon-arrow-red-right-x: 60px;
$sprite-icon-arrow-red-right-y: 40px;
$sprite-icon-arrow-red-right-offset-x: -60px;
$sprite-icon-arrow-red-right-offset-y: -40px;
$sprite-icon-arrow-red-right-width: 21px;
$sprite-icon-arrow-red-right-height: 40px;
$sprite-icon-arrow-red-right-total-width: 105px;
$sprite-icon-arrow-red-right-total-height: 180px;
$sprite-icon-arrow-red-right-image: 'sprites.png';
$sprite-icon-arrow-red-right: (60px, 40px, -60px, -40px, 21px, 40px, 105px, 180px, 'sprites.png', 'sprite-icon-arrow-red_right', );
$sprite-icon-arrow-red-small-left-name: 'sprite-icon-arrow-red_small-left';
$sprite-icon-arrow-red-small-left-x: 81px;
$sprite-icon-arrow-red-small-left-y: 80px;
$sprite-icon-arrow-red-small-left-offset-x: -81px;
$sprite-icon-arrow-red-small-left-offset-y: -80px;
$sprite-icon-arrow-red-small-left-width: 12px;
$sprite-icon-arrow-red-small-left-height: 24px;
$sprite-icon-arrow-red-small-left-total-width: 105px;
$sprite-icon-arrow-red-small-left-total-height: 180px;
$sprite-icon-arrow-red-small-left-image: 'sprites.png';
$sprite-icon-arrow-red-small-left: (81px, 80px, -81px, -80px, 12px, 24px, 105px, 180px, 'sprites.png', 'sprite-icon-arrow-red_small-left', );
$sprite-icon-arrow-red-small-right-name: 'sprite-icon-arrow-red_small-right';
$sprite-icon-arrow-red-small-right-x: 81px;
$sprite-icon-arrow-red-small-right-y: 56px;
$sprite-icon-arrow-red-small-right-offset-x: -81px;
$sprite-icon-arrow-red-small-right-offset-y: -56px;
$sprite-icon-arrow-red-small-right-width: 13px;
$sprite-icon-arrow-red-small-right-height: 24px;
$sprite-icon-arrow-red-small-right-total-width: 105px;
$sprite-icon-arrow-red-small-right-total-height: 180px;
$sprite-icon-arrow-red-small-right-image: 'sprites.png';
$sprite-icon-arrow-red-small-right: (81px, 56px, -81px, -56px, 13px, 24px, 105px, 180px, 'sprites.png', 'sprite-icon-arrow-red_small-right', );
$sprite-icon-media-small-name: 'sprite-icon-media-small';
$sprite-icon-media-small-x: 81px;
$sprite-icon-media-small-y: 104px;
$sprite-icon-media-small-offset-x: -81px;
$sprite-icon-media-small-offset-y: -104px;
$sprite-icon-media-small-width: 16px;
$sprite-icon-media-small-height: 12px;
$sprite-icon-media-small-total-width: 105px;
$sprite-icon-media-small-total-height: 180px;
$sprite-icon-media-small-image: 'sprites.png';
$sprite-icon-media-small: (81px, 104px, -81px, -104px, 16px, 12px, 105px, 180px, 'sprites.png', 'sprite-icon-media-small', );
$sprite-icon-photo-small-name: 'sprite-icon-photo-small';
$sprite-icon-photo-small-x: 81px;
$sprite-icon-photo-small-y: 116px;
$sprite-icon-photo-small-offset-x: -81px;
$sprite-icon-photo-small-offset-y: -116px;
$sprite-icon-photo-small-width: 16px;
$sprite-icon-photo-small-height: 12px;
$sprite-icon-photo-small-total-width: 105px;
$sprite-icon-photo-small-total-height: 180px;
$sprite-icon-photo-small-image: 'sprites.png';
$sprite-icon-photo-small: (81px, 116px, -81px, -116px, 16px, 12px, 105px, 180px, 'sprites.png', 'sprite-icon-photo-small', );
$sprite-icon-photo-small-red-name: 'sprite-icon-photo-small_red';
$sprite-icon-photo-small-red-x: 81px;
$sprite-icon-photo-small-red-y: 0px;
$sprite-icon-photo-small-red-offset-x: -81px;
$sprite-icon-photo-small-red-offset-y: 0px;
$sprite-icon-photo-small-red-width: 24px;
$sprite-icon-photo-small-red-height: 19px;
$sprite-icon-photo-small-red-total-width: 105px;
$sprite-icon-photo-small-red-total-height: 180px;
$sprite-icon-photo-small-red-image: 'sprites.png';
$sprite-icon-photo-small-red: (81px, 0px, -81px, 0px, 24px, 19px, 105px, 180px, 'sprites.png', 'sprite-icon-photo-small_red', );
$sprite-icon-pie-small-black-name: 'sprite-icon-pie-small-black';
$sprite-icon-pie-small-black-x: 81px;
$sprite-icon-pie-small-black-y: 38px;
$sprite-icon-pie-small-black-offset-x: -81px;
$sprite-icon-pie-small-black-offset-y: -38px;
$sprite-icon-pie-small-black-width: 18px;
$sprite-icon-pie-small-black-height: 18px;
$sprite-icon-pie-small-black-total-width: 105px;
$sprite-icon-pie-small-black-total-height: 180px;
$sprite-icon-pie-small-black-image: 'sprites.png';
$sprite-icon-pie-small-black: (81px, 38px, -81px, -38px, 18px, 18px, 105px, 180px, 'sprites.png', 'sprite-icon-pie-small-black', );
$sprite-icon-read-more-name: 'sprite-icon-read-more';
$sprite-icon-read-more-x: 93px;
$sprite-icon-read-more-y: 80px;
$sprite-icon-read-more-offset-x: -93px;
$sprite-icon-read-more-offset-y: -80px;
$sprite-icon-read-more-width: 12px;
$sprite-icon-read-more-height: 11px;
$sprite-icon-read-more-total-width: 105px;
$sprite-icon-read-more-total-height: 180px;
$sprite-icon-read-more-image: 'sprites.png';
$sprite-icon-read-more: (93px, 80px, -93px, -80px, 12px, 11px, 105px, 180px, 'sprites.png', 'sprite-icon-read-more', );
$sprite-icon-video-play-name: 'sprite-icon-video-play';
$sprite-icon-video-play-x: 81px;
$sprite-icon-video-play-y: 19px;
$sprite-icon-video-play-offset-x: -81px;
$sprite-icon-video-play-offset-y: -19px;
$sprite-icon-video-play-width: 24px;
$sprite-icon-video-play-height: 19px;
$sprite-icon-video-play-total-width: 105px;
$sprite-icon-video-play-total-height: 180px;
$sprite-icon-video-play-image: 'sprites.png';
$sprite-icon-video-play: (81px, 19px, -81px, -19px, 24px, 19px, 105px, 180px, 'sprites.png', 'sprite-icon-video-play', );
$sprite-review-slider-fade-name: 'sprite-review-slider-fade';
$sprite-review-slider-fade-x: 0px;
$sprite-review-slider-fade-y: 0px;
$sprite-review-slider-fade-offset-x: 0px;
$sprite-review-slider-fade-offset-y: 0px;
$sprite-review-slider-fade-width: 60px;
$sprite-review-slider-fade-height: 180px;
$sprite-review-slider-fade-total-width: 105px;
$sprite-review-slider-fade-total-height: 180px;
$sprite-review-slider-fade-image: 'sprites.png';
$sprite-review-slider-fade: (0px, 0px, 0px, 0px, 60px, 180px, 105px, 180px, 'sprites.png', 'sprite-review-slider-fade', );
$spritesheet-width: 105px;
$spritesheet-height: 180px;
$spritesheet-image: 'sprites.png';
$spritesheet-sprites: ($sprite-icon-arrow-red-left, $sprite-icon-arrow-red-right, $sprite-icon-arrow-red-small-left, $sprite-icon-arrow-red-small-right, $sprite-icon-media-small, $sprite-icon-photo-small, $sprite-icon-photo-small-red, $sprite-icon-pie-small-black, $sprite-icon-read-more, $sprite-icon-video-play, $sprite-review-slider-fade, );
$spritesheet: (105px, 180px, 'sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
