$tablet-width: 768px;
$desktop-width: 1024px;

$gridColumns:           12;

$primaryBG:             #ffffff;

$brandLightGrey:        #d7d8d9;
$brandDarkGrey:         #333333;
$brandViolet:           #6a0099;
$brandRed:              #c70000;
$brandBlue:             #3d76cc;

$reviewSliderHeight:    221px;
$reviewSliderGutters:   82px;